.project
*~
*.gitattributes
*.idea
*.iml

# Folders
Farming/
Firearms-1.2-master/
S420_SimpleUI-Compass/
S420_SimpleUI-LeftHUD/
S420_SimpleUI-Toolbelt/
ExtendedCrops/temp/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Satis